---
---
<section class="hero-section-2">
  <div class="hero-2 bg-cover" style="background-image: url('/assets/img/charter-bases-visual.png')">
    <div class="container custom-container-3">
      <div class="row">
        <div class="col-lg-6">
          <div class="hero-content">
            <div class="sub-title">Get unforgettable pleasure with us</div>
            <h1>
              Discover Your Next <br /> Handpicked Journey
            </h1>
            <p>
              There are many variations of passages of available, but the majority have suffered alteration in <br /> some form, by injected humour words which don't look even slightly believable.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>