---
---
<div class="flex flex-col lg:flex-row justify-center items-center gap-12 p-10 bg-sky-50 pt-[11.7rem]">
  <a
    href="/yacht-sales-management"
    class="group relative w-full sm:w-[48rem] h-[48rem] overflow-hidden rounded-2xl transition-transform duration-500 transform hover:scale-105"
    style="box-shadow: rgb(56, 84, 107) -7px 7px 0px !important;"
  >
    <img
      src="/assets/img/charter-bases-visual.png"
      alt="Rodos MISE"
      class="absolute inset-0 w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-black opacity-30 z-10 group-hover:opacity-50 transition-opacity duration-500"></div>
    <div class="absolute inset-0 z-20 flex flex-col justify-end p-8 text-white">
      <h3 class="text-3xl sm:text-4xl font-semibold text-center border-b-2 border-white pb-2">
        <strong>Rodos MISE</strong>
      </h3>
      <p class="text-xl sm:text-2xl text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </a>
  <a
    href="/yacht-sales-management"
    class="group relative w-full sm:w-[48rem] h-[48rem] overflow-hidden rounded-2xl transition-transform duration-500 transform hover:scale-105"
    style="box-shadow: rgb(56, 84, 107) -7px 7px 0px !important;"
  >
    <img
      src="/assets/img/charter-bases-visual.png"
      alt="Rodos Tender Boat"
      class="absolute inset-0 w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-black opacity-30 z-10 group-hover:opacity-50 transition-opacity duration-500"></div>
    <div class="absolute inset-0 z-20 flex flex-col justify-end p-8 text-white">
      <h3 class="text-3xl sm:text-4xl font-semibold text-center border-b-2 border-white pb-2">
        <strong>Rodos Tender Boat</strong>
      </h3>
      <p class="text-xl sm:text-2xl text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </a>
</div>
